<h3 id="info">Author information</h3>

<p>We are Benjamin and Florence who believe in the power of entrepreneurship and open data. Benjamin is a plant scientist with the coding skill to build various kinds of application and service. Florence is an occupational therapist who also likes to design and imagine the possibility of better living. Our team member got awards in several competitions including Third Prize of Agrithon (2016), Council of Agriculture Enterprise Prize in HackNTU (2017), and Quality Award in Open Data Innovative Application Contest (2017).</p>

We want to solve various problems encountered by plant collectors, botanists, and gardeners. Searching correct information about botany has been a pain for a long time because of all those false information on the internet and the difficulty to understand original research publications from academic journal. Here, we present a chatbot that utilize the open data certified by the professionals and experts from the public sectors to answer questions from general public who are interested in botany.

We built a chatbot that answer questions from general public who are interested in botany. We use Dialogflow to solve natural language processing and connect to the instant messaging platform LINE. The business logic were fulfilled through custom python scripts that query open data API.

Scan the QR code below to try out the minimal viable product, any advise would be very helphul!
<img src="https://qr-official.line.me/sid/M/zny3543d.png">
